[Desktop Entry]
Name=Tycheck System Maintenance
Comment=A performance-optimization utility for Linux environments utilizing the apt package manager
Exec=bash -c 'tycheck; echo; read -p "Press Enter to close..." -n1 -s'
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=System;Settings